body {
    background-color: #A5DD9B;
    color: #4b4b4b;
    font-family: Consolas, serif;
    font-size: 36px;
    overflow-y:hidden;
}

* {
    margin: 0;
}

div {
    background-color: #C5EBAA;
}

#header {
    font-size: 5vw;
    margin: 25px 0 25px 0;
    text-align: center;
    width: 100vw;
}

#game-state {
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
}

#stats {
}

#board {
    width: 100vw;
    justify-content: center;
    text-align: center;
}

#grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    text-align: center;
}

#login-div {
    width:90vw;
    margin-left:5vw;
    height: 50vh;
    text-align: center;
    margin-top:35vh;
    font-size:50px;
}

#login-div input {
    margin-top:50px;
    width: 50%;
    height:60px;
    font-size:40px;
}

#login-div button {
    width:25%;
    font-size:40px;
    height:75px;
    margin-top:50px;
    border: 0;
    background-color:white;
    border-radius: 15px;
}

.grid-item {
    margin: 10px;
    padding: clamp(6px, 5vw, 50px);
    font-size: 50px;
    background-color: #F2C18D;
    text-align: center;
}

.grid-item:hover {
    cursor: pointer;
}

.nav-button {
    color: #4b4b4b;
    background-color: white;
    text-decoration: none;
    padding:5px;
    font-size:13px;
    position: absolute;
    border-radius: 15px;
}
#login-button {
    top:0;
    left:10px;
}

#start-button {
    font-size: 64px;
    width: 25vw;
    background-color: white;
    border-radius: 25px;
    height: 100px;
}

select {
    font-size: 20px;
    width: 75px;
    height: 30px;
    margin: 15px;
}

.progress-loader {
    width: 20vw;
    background: rgba(236, 236, 238, 0.253);
    height: 10px;
    border-radius: 7px;
    text-align: center;
    margin: 15px;
    visibility: hidden;
}

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.progress {
    width: 1px;
    height: 10px;
    border-radius: 7px;
    background: rgb(255, 255, 255);
    transition: 5s;
}

.color-button {
    font-size: 20px;
    width: 20vw;
    height: 3vh;
}

#closed-card-button {
    background-color: #99c6ff;
}

#opened-card-button {
    background-color: #95ff95;
}

#found-card-button {
    background-color: #ffaeff;
}

.color-button-container {
    display: flex;
    align-items: flex-start;
    margin: 10px;
    flex-direction: column;
}

#color-selection {
    display: flex;
    justify-content: left;
    margin: 15px;
}

#win-message {
    position: absolute;
    background-color: white;
    text-align: center;
    top: 32vh;
    left: 24.15vw;
    padding: 80px;
    border-radius: 50px;
    display: none;
}

#win-message #replay-button {
    width: 150px;
    height: 35px;
    margin-top: 50px;
    background-color: white;
}

@keyframes loading_44 {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* When screen enters desktop or landscape mode */
@media screen and (min-width: 1000px) {
    body {
        margin: 0;
        /*overflow-y: hidden;*/
    }

    #header {
        font-size: 36px;
        padding:0;
    }

    #game-state {
        font-size: 24px;
    }

    #board {
        width:55vw;
        height:67vh;
        float:left;
    }

    #grid-container {
        padding: 2vw;
    }

    .grid-item {
        padding: clamp(10px, 8vw, 15px);
    }
    .nav-button {
        font-size:35px;
    }

    #login-div {
        width:25vw;
        height: 50vh;
        margin-left:40vw;
        margin-top:25vh;
        font-size:36px;
    }

    #stats {
        height: 67vh;
        padding: 2vw 2vw 2vw 8vw;
        width: 29vw;
        font-size: clamp(12px, 2vw, 24px);
        float: right;
    }

    #win-message {
        left: 37vw;
    }
}

