body {
    background-color: burlywood;
    color: black;
    font-family: Consolas;
    font-size: 36px;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

#header {
    font-size: 64px;
    text-align: center;
    margin: 0;
    width: 100%;
}

#game-state {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#information {
    margin:75px;
}

#board{
    text-align: center;
}

.grid-container {
    display: inline-grid;
    grid: auto-flow / 1fr 1fr 1fr;
    left: auto;
}

.grid-item {
    margin: 10px;
    padding: 100px;
    background-color: lightgreen;
    text-align: center;
}

#start-button {
    font-size: 64px;
    width: 30vw;
    height: 7vh;

}

select {
    font-size: 40px;
    width: 200px;
    height: 75px;
    margin: 25px;
}

@media screen and (min-width: 1000px) {
    body {
        display:inline;
        margin:0px;
        overflow-y: hidden;
    }
    #header {
        font-size: 30px;
        padding:0px;
    }

    #game-state {
        font-size: 24px;
    }

    #board {
        float:left;
    }

    .grid-container {
    }

    #information {
        float:right;
    }
}