body {
    background-color: burlywood;
    color: black;
    font-family: Consolas;
    font-size: 36px;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.header {
    font-size: 64px;
    text-align: center;
    margin: 0;
    padding: 45px;
    width: 100%;
}

.information {

}

.grid-container {
    display: inline-grid;
    grid: auto-flow / 1fr 1fr 1fr;
    left: auto;
}

.grid-item {
    padding: 100px;
    text-align: center;
}

.board{
    text-align: center;

}
