body {
    background-color: burlywood;
    color: black;
    font-family: Consolas, serif;
    font-size: 36px;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

#header {
    font-size: 5vw;
    text-align: center;
    margin: 0;
    width: 100vw;
}

#game-state {
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
}

#information {
}

#board {
    width: 100vw;
    justify-content: center;
    text-align: left;
}

.grid-container {
    width:95vw;
    display: inline-grid;
    grid: auto-flow / 1fr 1fr 1fr;
    left: auto;
}

.grid-item {
    margin: 10px;
    padding: 10vw;
    background-color: lightgreen;
    text-align: center;
}

#start-button {
    font-size: 64px;
    width: 25vw;
    height: 100px;
}

select {
    font-size: 20px;
    width: 75px;
    height: 30px;
    margin: 15px;
}

/* When screen enters desktop or landscape mode */
@media screen and (min-width: 1000px) {
    body {
        margin: 0;
        overflow-y: hidden;
    }

    #header {
        font-size: 36px;
        padding:0;
    }

    #game-state {
        font-size: 24px;
    }

    #board {
        width:40vw;
        float:left;
    }

    .grid-container {
        width:30vw;
    }

    .grid-item {
        padding: clamp(50px, 8vw, 100px);
    }

    #information {
        width:40vw;
        font-size: clamp(12px, 2vw, 24px);
        float:right;
    }
}

.color-button {
    font-size: 20px;
    width: 20vw;
    height: 3vh;
}

#closed-card-button {
    background-color: lightgreen;
}

#opened-card-button {
    background-color: darkgreen;
}

#found-card-button {
    background-color: purple;
}

.color-button-container {
    display: flex;
    align-items: flex-start;
    margin: 10px;
    flex-direction: column;
}

#color-selection {
    display: flex;
    justify-content: left;
    margin: 15px;
}