#board {
    width: 100vw;
    justify-content: center;
    text-align: center;
}

#grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    text-align: center;
}

.grid-item {
    margin: 10px;
    padding: clamp(6px, 5vw, 50px);
    font-size: 50px;
    background-color: #F2C18D;
    text-align: center;
}

.grid-item:hover {
    cursor: pointer;
}

/* When screen enters desktop or landscape mode */
@media screen and (min-width: 1000px) {
    #board {
        width:55vw;
        height:67vh;
        float:left;
    }

    #grid-container {
        padding: 2vw;
    }

    .grid-item {
        padding: clamp(10px, 8vw, 15px);
    }
}