#fetch-text {
    font-weight: bold;
    font-size:20px;
    margin-bottom: 30px;
}

#image-container {
    display:none;
    position: absolute;
    left:0;
    top:10vh;
    border: 5px solid white;
    border-radius: 15px;
    padding:0;
    text-align: center;
}

#image-container img {
    width: 300px;
}

#win-message {
    position: absolute;
    background-color: white;
    text-align: center;
    top: 32vh;
    left: 24.15vw;
    padding: 80px;
    border-radius: 50px;
    display: none;
}

#win-message #replay-button {
    width: 150px;
    height: 35px;
    margin-top: 50px;
    background-color: white;
}

/* When screen enters desktop or landscape mode */
@media screen and (min-width: 1000px) {
    body {
        margin: 0;
    }

    #win-message {
        left: 37vw;
    }

    #fetch-text {
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 30px;
    }

    #image-container {
        display:none;
        position: absolute;
        left:23vw;
        top:25vh;
        border: 5px solid white;
        border-radius: 15px;
        padding:15px;
        text-align: center;
    }

    #image-container img {
        width: auto;
    }
}