#admin-div-button {
    left: 1300px;
    display:none;
}

.nav-button {
    color: #4b4b4b;
    background-color: white;
    text-decoration: none;
    padding:5px;
    font-size:13px;
    position: absolute;
    border-radius: 15px;
}

#auth-div-button {
    top:0;
    left:0;
}

#settings-div-button {
    top:0;
    left:1vw;
}

#logout-div-button {
    top:0;
    left: 30vw;
}

#fetch-image-button {
    position: absolute;
    top:0;
    width: 40vw;
    left: 55vw;
}

/* When screen enters desktop or landscape mode */
@media screen and (min-width: 1000px) {
    .nav-button {
        font-size:35px;
    }

    #auth-div-button {
        top:0;
        left:0;
    }

    #settings-div-button {
        top:0;
        left:1vw;
    }

    #logout-div-button {
        top:0;
        left: 12vw;
    }

    #fetch-image-button {
        position: absolute;
        top:0;
        width: 25vw;
        left: 70vw;
    }
}
