<div class="container">
  <h1>Aggregated Data</h1>

  <div>
    <h2>Total Games Played</h2>
    <ag-charts-angular
      style="height: 400px"
      [options]="gamesChartOptions">
    </ag-charts-angular>
  </div>

  <div>
    <h2>Players</h2>
    <ag-charts-angular
      style="height: 400px"
      [options]="playersChartOptions">
    </ag-charts-angular>
  </div>

  <div>
    <h2>Games Played Per Day</h2>
    <ag-charts-angular
      style="height: 400px"
      [options]="datesChartOptions">
    </ag-charts-angular>
  </div>
</div>
