body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 8px;
  max-height: 25vh;
  font-family: Consolas, serif;
  width: 90vw;
  margin: 5vw;
  text-align: center;
  height: 100vh;
  color:#4b4b4b;;
  background-color: #A5DD9B;
}
h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .container {
    display: inline-block;
    vertical-align: top;
  }
}
