#auth-div {
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 8px;
  margin: 5vw;
  background-color: #A5DD9B;
  color: #4b4b4b;
  font-family: Consolas, serif;
  width:90vw;
  max-height: 100vh;
  text-align: center;
  font-size: 2rem;
}

#auth-div input {
  margin-top:10vh;
  width: 50%;
  font-size: 1em;
}

#auth-div button {
  width:30%;
  margin: 10vh;
  font-size:1em;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color:white;
  color: #4b4b4b;
}
@media (max-width: 600px) {
  #auth-div input {
    width: 80%;
    display: block;
    margin: 20px auto;
  }
}
